# ignore DS_Store files
.DS_store
*/.DS_store

# ignore data download files
data/clinvar.vcf.gz
data/submission_summary.txt.gz
data/variant_summary.txt.gz
data/md5sum.txt
data/ClinVar-selected-submissions.tsv
data/release-notes.md

